
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* Fix the sidenav overlay bug in materialize */
#sidenav-overlay {
    z-index: 996;
}

@media screen and (max-width: 991px) {
    .quote-card {
        max-height: 350px;
    }
}

@media screen and (min-width: 992px) {
    .quote-card {
        max-height: 100%;
    }
}

.btn-add {
    margin-top: 15px;
}